body{
  margin-top: 0px;
  background-color: rgb(65, 65, 65);
  height: inherit;
}

.Icon,.small-Icon{
  width: 80px;
  border-radius: 10px;
  border: red 2px solid;
  margin: 20px;
  transition: 0.2s;
  transition-timing-function: ease-in-out;
  cursor:pointer;
}
.Icon:hover{
  width: 100px;
}
.Games{
  width: 100%;
  border-bottom: black 5px solid;
  border-radius: 20px;
}
.title{
  width: 100%;
  text-align: center;
  color: azure;

}
.popup-title{
  width: 100%;
  text-align: center;
  color: azure;

}
.popup{
  position:fixed;
  max-width: 70%;
  max-height: 90%;
  overflow: scroll;
  border-radius: 20px;
  background-color: rgb(43, 43, 43);
  padding: -10px;
  display: none;
  left: 50%;
  transform: translate(-50%, 0);
}
.popup::-webkit-scrollbar {
  width: 0px;
  opacity: 0%;
}
#popup-patchNotes::-webkit-scrollbar {
  width: 0px;
  opacity: 0%;
}
.fade-img{
  width: 500000000px;
  max-width: 100%;
  mask-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  border-radius: 20px;
  z-index: 0;
}
.small-popup{
  position:fixed;
  width: 100%;
  max-height: 90%;
  overflow: scroll;
  border-radius: 20px;
  background-color: rgb(43, 43, 43);
  padding: 0px;
  display: none;
  left: 50%;
  transform: translate(-50%, 0);
}
.small-popup img{
  max-width: 100%;
  width: 500000000px;
  mask-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  border-radius: 20px;
  z-index: 0;
}
.popup-close{
  position: absolute;
  right: 10px;
  top: 10px;
  height: 40px;
  width: 40px;
  opacity: 70%;
}
.popup-patchNotes-title{
  width: 100%;
  text-align: center;
  color: azure;
}
#popup-patchNotes{
  max-height: 200px;
  background-color: rgb(24, 24, 24);
  color: azure;
  border-radius: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: scroll;
}